// Typography
// --------------------------------------------------
 $font-stack: "HelveticaNeue-Light", 
       "Helvetica Neue Light", 
       "Helvetica Neue", 
       Helvetica, 
       Arial, 
       "Lucida Grande", 
       sans-serif;

$base-color: white;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

// a {
//   color: black;
// }
svg {
  box-sizing: border-box;
}

body, html {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 100%;
  background-color: #ececf8;
  font-family: $font-stack;
  height: 100%;
  box-sizing: border-box;
  @include at-breakpoint($bp-1) {
    position: relative;
    overflow-y: scroll;
  }
}

img {
  @extend %l-full;
  height: auto;
}
