.page-wrapper {
	width: 60%;
  margin: 3rem auto;
}

.half-column {
  width: 50%;
  float: left;
}

.full-column {
  width: 100%;
  display: block;
  clear: both;
  content: "";
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}