.page-wrapper {
	width: 95%;
  margin: auto;

  @extend %flex-main;
}

body[orient="portrait"] {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.nav-wrapper {
  width: 95%;
  margin: auto;
}

.half-column {
  width: 50%;
  float: left;
}

.full-column {
  width: 100%;
  display: block;
  clear: both;
  content: "";
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

.login-form {
  @extend %l-full;
  @extend %flex-main;
}

.postModule {
  margin: 1rem;
}

.sideNavItem {
  @extend %flex-main;

  span {
    color: white;
    -webkit-align-self: center;
    align-self: center;
  }
}