.page-wrapper {
	width: 85%;
  margin: auto;

  @extend %flex-main;
}

.half-column {
  width: 50%;
  float: left;
}

.full-column {
  width: 100%;
  display: block;
  clear: both;
  content: "";
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

.login-form {
  width: 80%;
  @extend %flex-main;
}