// Shared ---------------------------------------------------------------------
//-----------------------------------------------------------------------------
// - States
.is-hidden {
	display: none;
}
// Bootstrap tables ------------------------------------------------------------
// ----------------------------------------------------------------------------
@import "modules/tables";

// Buttons  -------------------------------------------------------------------
//  ---------------------------------------------------------------------------
@import "modules/buttons";

.btn {
	background-color: lighten($light-blue, 10%);
	color: white;
	transition: all 0.15s ease-out;
	text-decoration: none;
	&:hover {
		color: white;
		transform: scale(1.1);
	}
}

.btn-notify {
	background-color: lighten($brand-danger, 10%) !important;
}
// Navigation -----------------------------------------------------------------
//-----------------------------------------------------------------------------
.nav {
	background-color: $light-blue;
}

// Forms ----------------------------------------------------------------------
// ----------------------------------------------------------------------------
@import "modules/forms";

.list-add-form {
	label, .input-flex {
		width: 100%;
		font-size: 1.4rem;
	}
	label {
		margin-bottom: 0.5rem;
	}
	.input-flex {
		box-sizing: border-box;
		margin-bottom: 2rem;
		padding: 1rem;
	}
	textarea {
		height: 10rem;
	}
}

.heading {
	display: inline;
	padding: 0 0.5rem;
	font-weight: bold;
	border-bottom: 2rem;
}

.comment-content {
	padding: 1rem 0;
}

.login-form .form-group {
  width: 30%;
  margin: 1rem 0 1.5rem 0;
  padding-right: 0.5rem;

  	label {
  		color: white;
  		font-size: 0.9rem;
  		font-weight: 300;
  	}
	.btn {
		margin-top: 1.5rem;
	}
}

.signup-form {
	@extend %l-full;
	@extend %flex-main;

	.signup-group {
		@extend %l-full;
		
		label {
			display: block;
		}

		select {
			@extend %one-third;
			float: left;
		}
	}
	.btn {
		background-color: $brand-success;
	}
	input.error {
		border-color: $brand-warning;
	}
	input.valid {
		border-color: $brand-success;
	}
}

.name {
	@extend %l-half;
	
	&:nth-child(1) {
		padding-right: 0.5rem;
	}
}