// Shared ---------------------------------------------------------------------
//-----------------------------------------------------------------------------
// - States
.is-hidden {
	display: none;
}

.home-enter {
  margin-right: -400px;
  -webkit-transition: margin-right 0.5s ease-in;
}

.home-enter.home-enter-active {
  margin-right: 0;
}

.home-leave {
	margin-right: 0;
  -webkit-transition: margin-right 0.5s ease-in;
}

.home-leave.home-leave-active {
	margin-right: -400px;
}

@-webkit-keyframes enter-from-bottom {
  from {
    top: 400px;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes exit-from-bottom {
  from {
    top: 0;
  }
  to {
    top: 400px;
  }
}

@-webkit-keyframes opacity-fade-in {
  from {
    background-color: rgba(black, 0.1);
  }
  to {
    background-color: rgba(black, 0.7);
  }
}

@-webkit-keyframes opacity-fade-out {
  from {
    background-color: rgba(black, 0.7);
  }
  to {
    background-color: rgba(black, 0.0);
  }
}

.postModal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-animation: enter-from-bottom 0.4s 0s 1;
}

.modal-leaving {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-animation: exit-from-bottom 0.4s 0s 1;
}

.modal-bg {
  position: absolute;
  z-index: 9998;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-animation: opacity-fade-in 0.2s 0s 1;
  background-color: rgba(black, 0.7);
}

.modal-bg-leaving {
  position: absolute;
  z-index: 9998;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-animation: opacity-fade-out 0.4s 0s 1;
}

.postAddForm {
  position: absolute;
  padding: 15px;
  z-index: 9999;
  left: 15px;
  top: 15px;
  right: 15px;
  background-color: white;

}
// Bootstrap tables ------------------------------------------------------------
// ----------------------------------------------------------------------------
@import "modules/tables";

// Buttons  -------------------------------------------------------------------
//  ---------------------------------------------------------------------------
@import "modules/buttons";

.btn {
	background-color: lighten($light-blue, 10%);
	color: white;
	transition: all 0.15s ease-out;
	text-decoration: none;
	&:hover {
		color: white;
		transform: scale(1.1);
	}
}

.btn-notify {
	background-color: lighten($brand-danger, 10%) !important;
}

//SVG Icons -------------------------------------------------------------------

.iconNav {
	width: 40px;
	height: 40px;
	padding: 4px;
	margin: 6px 0;
	fill: white;
}

.iconSideNav {
	width: 30px;
	height: 30px;
	padding: 4px;
	margin: 6px 0;
	fill: rgba(white, 0.8);
	-webkit-align-self: center;
  align-self: center;
}

.iconGlobe {
	position: absolute;
	right: 0;
}

.isAlert {
	fill: tomato !important;
}

.iconClose {
	width: 35px;
	height: 35px;
}

path.color0 {
  fill: #1072b8;
}

path.color1 {
  fill: #35526b;
}
// Navigation -----------------------------------------------------------------
//-----------------------------------------------------------------------------
.nav {
	background-color: #b0076e;
	height: 52px;
}

.nav-index {
	height: auto;
}

.is-active {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.tool-tip {
  background-color: white;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(53deg);
  position: absolute;
  top: -3px;
  left: 75px;
}

.dropdown {
	position: absolute;
	z-index: 10;
	top: 51px;
	left: -75px;
  width: 115px;
	background-color: white;
	padding: 10px;
  -webkit-box-shadow: 1px 6px 37px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 6px 37px -5px rgba(0,0,0,0.75);
  box-shadow: 1px 6px 37px -5px rgba(0,0,0,0.75);
}

.notifications {
  position: relative;
}

.Layout-topBar {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  font-family: sans-serif;
  line-height: 50px;
  text-align: center;
}

.Layout-hamburger {
  left: 0;
  padding: 8px;
  position: absolute;
}

.Layout-content {
	position: relative;
	background-color: #ececf8;
	z-index: 9999;
  height: 100%;
}

.Layout-nav {
	position: relative;
  background: #505050;
  border-bottom: rgba(100, 100, 100, 0.3);
  height: 100%;
  padding: 10px;
}

.Layout-navLink,
.Layout-lastNavLink {
  color: black;
  display: block;
  font-family: sans-serif;
  padding: 10px 0;
  text-decoration: none;
}

.Layout-navLink {
  border-bottom: 1px solid rgba(20, 20, 20, 0.3);
}

// Forms ----------------------------------------------------------------------
// ----------------------------------------------------------------------------
@import "modules/forms";

// .list-add-form {
// 	label, .input-flex {
// 		width: 100%;
// 		font-size: 1.4rem;
// 	}
// 	label {
// 		margin-bottom: 0.5rem;
// 	}
// 	.input-flex {
// 		box-sizing: border-box;
// 		margin-bottom: 2rem;
// 		padding: 1rem;
// 	}
// 	textarea {
// 		height: 10rem;
// 	}
// }

// input:focus{
// 	font-size: 16px; /* Adding 16px on focus will prevent page zoom */
// }
// 
.post {
  padding: 10px;
  background-color: white;
}
.post-title {
  font-size: 1.6rem;
}

.post-content {
  font-size: 1.2rem;
}

.post * {
  color: lighten(black, 40%);
}

.mui-text-field {
  width: 100% !important;
}

.mui-text-field-floating-label {
  margin-bottom: 0 !important;
}

.mui-text-field-input {
  padding-top: 15px !important;
}

.mui-flat-button {
  width: 100%;
}

.mui-drop-down-menu {
  width: 50% !important;
}
.mui-floating-action-button-container {

  span {
    color: white;
    font-weight: bold;
  }
}

.mui-date-picker-dialog {
  padding-top: 10px !important;
}

.heading {
	display: inline;
	padding: 0 0.5rem;
	font-weight: bold;
	border-bottom: 2rem;
}

.comment-content {
	padding: 1rem 0;
}

.login-form .form-group {
  width: 30%;
  margin: 1rem 0 1.5rem 0;
  padding-right: 0.5rem;

	.btn {
		margin-top: 1.5rem;
	}
}

.nav label {
	color: white;
	font-size: 0.9rem;
	font-weight: 300;
}

.signup-form {
	@extend %l-full;
	@extend %flex-main;

	.signup-group {
		@extend %l-full;
		
		label {
			display: block;
		}

		select {
			@extend %one-third;
			float: left;
		}
	}
	.btn {
		background-color: $brand-success;
	}
	input.error {
		border-color: $brand-warning;
	}
	input.valid {
		border-color: $brand-success;
	}
}

.name {
	@extend %l-half;
	
	&:nth-child(1) {
		padding-right: 0.5rem;
	}
}

// Search ---------------------------------------------------------------------
// ----------------------------------------------------------------------------

.search-bar {
	margin: 5px auto;
	width: 70%;

	.iconClose {
		position: absolute;
		top: 30px;
		left: 15px;
	}
}

.searchList {
	background-color: white;
	width: 100%;
	img {
		width: 50px;
		height: 50px;
	}
	.search-item {
		@extend %flex-main;
		padding: 1rem;

		&:hover {
			color: white;
			background-color: lighten($light-blue, 10%);
		}

		.item-details {
			padding-left: 0.5rem;
		}
	}

}

.search-view {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.search {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: $light-blue;
}

.chartArea {
  width: 300px;
  height: 200px;
  margin: 20px auto;
}

.bar {
  display: inline-block;
  // width: 20px;
  // height: 75px; Gets overriden by D3-assigned height below
  margin-right: 2px;
  fill: lighten($light-blue, 20%);
}