extends layout
- var title = User Auth App
block content
  script(type="text/javascript" src="/js/lib/zynga-scroller/Raf.js")
  script(type="text/javascript" src="/js/lib/zynga-scroller/Animate.js")
  script(type="text/javascript" src="/js/lib/zynga-scroller/Scroller.js")
  script(type="text/javascript" src="/js/lib/stats.min.js")
  div(id="main")
  script(src='/js/main.js' type="text/javascript")