html
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(href="css/global.css" rel="stylesheet")
	title User Authorisation
body
	.page-wrapper
		h1(class="page-header") Welcome
		form(class="form" action="/admin")
			.form-group
				label Username
				input(type="text" class="form-control")
			.form-group
				label Password
				input(type="password" class="form-control")
			button(type="submit" class="btn") submit 


