extends layout
- var title = User Auth App
block content
  nav(class="nav-index")
    .page-wrapper
      form(class="form login-form" action="/login" method="POST")
        .form-group
          label(for="username") Email
          input(id="username" name="username" type="text" class="form-control")
        .form-group
          label(for="password") Password
          input(id="loginPassword" name="password" type="password" class="form-control")
        .form-group
          button(type="submit" class="btn") login
  section(class="page-wrapper")
    h1 Sign Up
    form(class="form signup-form" id="signup-form")
        .form-group.name
          label(for="firstname") First Name
          input(id="firstname" name="firstname" type="text" placeholder="First name" required class="form-control")
        .form-group.name
          label(for="surname") Surname
          input(id="surname" name="surname" type="text" placeholder="Surname" required class="form-control")
        .form-group.signup-group
          label(for="email") Email
          input(id="email" name="email" type="email" placeholder="joe@email.com" required class="form-control")
        .form-group.signup-group
          label(for="confirmEmail") Re-type Email
          input(id="confirmEmail" name="confirmEmail" type="email" placeholder="joe@email.com" required class="form-control")
        .form-group.signup-group
          label(for="password") Password
          input(id="signupPassword" name="password" type="password" placeholder="password" required class="form-control")
        .form-group.signup-group
          button(type="submit" class="btn btn-lg") Sign Up