extends layout
- var title = User Auth App
block content
	h1(class="page-header") Welcome
	form(class="form" action="/login" method="POST")
		.form-group
			label(for="username") Username
			input(id="username" name="username" type="text" class="form-control")
		.form-group
			label(for="password") Password
			input(id="password" name="password" type="password" class="form-control")
		button(type="submit" class="btn") submit